/* Estilo del  primer popup */
#popup {
    background-color: rgba(142, 13, 60, 0.9); /* Fondo con opacidad del color #8E0D3C */
    border-radius: 8px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 40%; /* Ajustar tamaño del popup */
    height: 25%; /* Fijar altura para que el botón se pegue al fondo */
    
    /* Centrado en pantalla */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Configurar posición relativa para que los elementos hijos se ubiquen dentro */
    position: relative;
    
    /* Animación */
    animation: slide 0.25s ease-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar el popup */
  }
  
  /* Animación de entrada */
  @keyframes slide {
    from {
      transform: translate(-50%, -60%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  
  /* Botón de cerrar al fondo */
  #popup button {
    background-color: #ffffff;
    color: rgb(176, 76, 76);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
  
    /* Posición absoluta para pegarlo al borde inferior */
    position: absolute;
    bottom: 10px; /* Separación del borde inferior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para que esté centrado */
  }
  
  #popup button:hover {
    background-color: #f2f2f2;
  }
  



/*Segundo popup*/

/* Estilo del popup */
#popup2 {
    background-color: rgba(142, 13, 60, 0.9); /* Fondo con opacidad del color #8E0D3C */
    border-radius: 8px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 50%; /* Ajustar tamaño del popup */
    height: 25%; /* Fijar altura para que el botón se pegue al fondo */
    
    /* Centrado en pantalla */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Configurar posición relativa para que los elementos hijos se ubiquen dentro */
    position: relative;
    
    /* Animación */
    animation: slide 0.25s ease-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar el popup */
  }
  
  /* Animación de entrada */
  @keyframes slide {
    from {
      transform: translate(-50%, -60%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  
  /* Botón de cerrar al fondo */
  #popup2 button {
    background-color: #ffffff;
    color: rgb(176, 76, 76);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
  
    /* Posición absoluta para pegarlo al borde inferior */
    position: absolute;
    bottom: 10px; /* Separación del borde inferior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar para que esté centrado */
  }
  
  #popup2 button:hover {
    background-color: #f2f2f2;
  }
  
