/* Contenedor principal para las imágenes */
.gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 100px;
}

/* Contenedor para las imágenes a la izquierda, en el centro y a la derecha */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* El ancho es un porcentaje para que se ajuste al tamaño de la pantalla */
    margin-bottom: 20px; /* Agrega un espacio en la parte inferior */
}

/* Estilo para cada imagen */
.image-item {
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para cada imagen */
.image-item img {
    width: 100%; /* Ajusta el tamaño de las imágenes */
    height: auto;
    border-radius: 10px; /* Da un toque redondeado a las imágenes */
    transition: transform 0.3s ease; /* Animación suave para el efecto */
}

/* Efecto cuando el cursor está sobre la imagen */
.image-item img:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
    z-index: 10; /* Asegura que la imagen esté por encima de otras */
}

/* Estilo para el nombre de cada sala */
.sala-name {
    color: rgb(182, 15, 168);
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}
