// 1. Utils (variables, mixins, functions)
@import 'utils/variables';
@import 'utils/mixins';

// 2. Base styles
@import 'base/global';
@import 'base/typography';

// 3. Components (standalone items)
@import 'components/bottle-list';
@import 'components/buttons';
@import 'components/cards';
@import 'components/footer';
@import 'components/navbar';
@import 'components/scrolltop';
@import 'components/slider';
@import 'components/tooltips';

// 4. Layouts (page sections)
@import 'layouts/contact';
@import 'layouts/gallery';
@import 'layouts/help';
@import 'layouts/index';
@import 'layouts/legal';
@import 'layouts/payment';
@import 'layouts/success';
@import 'layouts/tickets';
@import 'layouts/vip-entry';
@import 'layouts/vip-preferences';
@import 'layouts/vip';