// 1. Utils (variables, mixins, functions)
@import 'utils/variables';
@import 'utils/mixins';

// 2. Base styles
@import 'base/reset';
@import 'base/typography';

// 3. Components (standalone items)
@import 'components/bottle-list';
@import 'components/buttons';
@import 'components/cards';  // Added new cards component
@import 'components/footer';
@import 'components/navbar';
@import 'components/slider';

// 4. Layouts (page sections)
@import 'layouts/contact';
@import 'layouts/gallery';
@import 'layouts/index';
@import 'layouts/legal';
@import 'layouts/payment';
@import 'layouts/tickets';
@import 'layouts/vip';