.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  min-width: 6rem;
  max-width: 12rem;
  background-color: $deep-purple;
  color: $text-light;  
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent $deep-purple; // Arrow to the right
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}