html {
  font-size: 62.5%; // This makes 1rem = 10px
}

body {
  font-size: 1.6rem;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  line-height: 1.2;
}

h1 { font-size: 4.0rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.4rem; }

// Logo Typography
.logo-text {
  font-family: $title-font;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1rem;
}